.descriptionBlock{
    padding: 10px;
}
.boldElement {
    font-weight: bold;
}

.nameBlock{
    font-size: xx-large;
    font-weight: bold;
}

.item img {
    width: 200px;
    height: 200px;
    border-radius: 30px;
}